#offcanvas {
  padding-top: 45px;

  @include max-width($mobile) {
    border-right: none;
  }

  .link {
    @include cf(26px, 20px);

    @include max-width($desktop) {
      background-color: #fff;
      color: #443D47;
      text-transform: uppercase;

      @include max-width($mobile) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }

  .topnav-item {
    &[data-country-toggler] {
      .link {
        position: relative;

        .icon {
          position: absolute;
          right: 15px;
          top: 0;
          bottom: 0;
          margin: auto;

          @include icon-size(18px);
          color: #a9b3ba;
          transition: transform 200ms ease;
        }
      }

      &.active {
        .link {
          .icon {
            transform: rotate(-90deg);
          }
        }
      }
    }

    &.non-destination {
      justify-content: center;

      .link {
        justify-content: center;
        padding: 17px 0;
        text-transform: none;
        border-radius: 26px;
        color: #fff;
        @include cf(25px, 17px);
        @include darken-btn($btn-green);
      }

      &.topnav-contact-link {
        .link {
          @include darken-btn($btn-grey);
        }
      }
    }

    &.mobile-login {
      border-bottom: none;
    }

    @include max-width($mobile) {
      &[data-country-toggler] {
        // border-bottom: 1px solid #ebeeef;
        z-index: 10;
        transition: border-bottom-color 200ms ease;

        &.active {
          padding-bottom: 15px;
        }

        &:last-child {
          &:active {
            border-bottom-color: transparent;
          }
        }
      }
    }
  }

  .mobile-cta-buttons {
    display: flex;
    padding: 0 15px;
    flex-direction: row;
    margin-top: 45px;
    padding-bottom: 15px;
    flex-direction: row;
    background-color: #FFF;
    position: relative;
    z-index: 11;

    @include max-width($mobile) {
      margin-top: auto;
      padding-bottom: 35px;
    }

    > * {
      margin-right: 10px;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .icon-close {
    color: #57B69D;
    position: absolute;
    top: 30px;
    right: 28px;
    z-index: 999;
    cursor: pointer;
  }
}
