$places-offset: 20px;

.icon-collapse {
  margin-right: -10px !important;
}
main {
  @include cmt(130px, 100px);
  @include cmb(130px, 70px);

  @include max-width($tablet) {
    margin-top: 20px;
  }
}

div.section {
  &.bordered {
    border-bottom: 1px solid $sep-border;
    border-left: 1px solid $sep-border;
    border-right: 1px solid $sep-border;
  }
}

.guides-wrap {
  display: flex;

  .col {
    min-height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  > * {
    flex: 1;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    @include max-width($tablet) {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include collapse($tablet-portrait, 20px);
}

.guide-box {
  @include compact-padding(50px, 30px, 30px, 15px);
  box-shadow: 3.82px 21.666px 32px 0px rgba(0,0,0,.06);
  background-color: #fff;
  border: 1px solid #d9dde2;
  display: flex;

  .avatar{
    margin-right: 20px;
    border-radius: 50%;
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
  }

  p:not(.descr) {
    @include cf(22px, 17px);
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    color: $heading-color-alter;
    @include cf(32px, 22px);
    margin-bottom: 6px;
    margin-top: 0;
    font-weight: 400;
  }

  h5 {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
  }
}


.places-wrap  {
  .places {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.places {
  display: flex;
  margin-bottom: $places-offset;
  flex-direction: column;

  @include min-width($tablet) {
    flex-flow: row wrap;

    .place {
      margin-right: $places-offset;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.first {
    .place {
      min-height: $home-tour-first-height;
    }

    @include max-width($tablet-portrait) {
      margin-bottom: 15px;

      .place {
        &:last-child {
          margin-bottom: 0;
        }
      }

      min-height: 300px;
    }
  }

  &.second {
    .place {
      min-height: $home-tour-second-height;
    }
  }

  @include max-width(1440px) {
    &.first {
      .place {
        min-height: $home-tour-first-height-compact;
      }
    }

    &.second {
      .place {
        min-height: $home-tour-second-height-compact;
      }
    }
  }

  @include max-width($tablet) {
    &.first {
      .place {
        min-height: $home-tour-second-height-compact;

        .header {
          font-size: 38px;
        }
      }
    }
  }

  .place {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;

    cursor: pointer;
    overflow: hidden;

    @include max-width($tablet) {
      margin-bottom: 15px;
    }

    &:hover {
      .place-img {
        transform: scale(1.07) rotate(-.33deg);
      }
    }
  }

  .place-img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(1.001) rotate(-.001deg);
    transition: transform 940ms $cb-switch;
  }


  &.first {
    .header {
      @include cf(62px, 48px);
      font-weight: 400;
      color: #fff;
      margin: 0;
    }
  }

  &.second {
    .header {
      @include cf(48px, 36px);
      font-weight: 400;
      color: #fff;
      margin: 0;
    }
  }
}

.place-caption {
  color: #FFF;
  position: relative;
}

.signup-box {
  width: 70%;
  margin: 0 auto;
  max-width: 1000px;
  box-shadow: 0px -30px 46px 0px rgba(0,0,0,.07);
  padding: 80px 10% 70px;
  background-color: #fff;
  transform: translateY(65px);

  @include max-width($compact) {
    padding: 48px 10% 32px;
  }

  .inputs {
    @include row($gap: 20px, $landscape-count: 1, $tablet-count: 1)
  }

  @include max-width($tablet-portrait) {
    width: 100%;
    padding: 25px 15px 20px;
    transform: none;
  }
}

.review-boxes {
  padding-left: 0px;
  padding-right: 0px;
  border: none !important;
  width: 100% !important;
  @include max-width($tablet) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .col {
    display: flex;
  }
}

.review-box {
  @include compact-padding(37px, 57px, 24px, 20px);
  border-bottom: 1px solid #d9dde2;
  padding-bottom: 120px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: left;
  position: relative;
  box-shadow: 0px 22px 32px 0px transparent;
  transition: border-color 200ms ease,
              box-shadow 200ms ease;

  &-heading {
    margin: 18px 0;
    @include cf(28px, 24px);
    font-family: $font-family;
    color: $grey-blue;
    font-weight: $semi;
  }

  .tour-box-reviews {
    .icon {
      margin-bottom: 0;
    }
  }

  &-footer {
    margin-top: 35px;
    position: absolute;
    bottom: 30px;

    > * {
      position: relative;
      display: inline-block;
      padding: 6px 0;

      &:after {
        display: inline-block;
        height: 9px;
        width: 9px;
        content: '•';
        margin-left: 8px;
        color: #67626b;
        font-weight: normal;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .author{
      color: #676261;
      font-weight: normal;
    }
  }

  @include max-width(1440px) {
    padding-bottom: 120px;
  }

  @include max-width($tablet) {
    &.col {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

}

.faq-section {
  .faq-question {
    border-top: 1px solid $sep-lighter;
    &:last-child {
      .faq-question-title {
      }
    }
  }
}
.faq-section-inner {
  width: 70%;
  margin: 0 auto;
}
.faq-question-title, .faq-question-content{
  background-color: white;
}

.faq-question {
  &-title {
    @include compact-padding(32px, 0, 18px, 0);
    @include cf(24px, 20px);
    transition: all 200ms ease;
    cursor: pointer;
    position: relative;
    box-shadow: none;

    &:hover {
      color: $brand-purple;
    }

    &:after {
      @extend %pseudo;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 10px 0 10px;
      border-color: $green transparent transparent transparent;
      opacity: 0;
      bottom: -13px;
      left: 13%;
      transition: all 200ms ease;
    }

    .container {
      display: flex;
      align-items: center;
    }

    @include max-width($mobile) {
      font-size: 19px;
    }
  }

  &-content {
    @include cf(24px, 20px);
    opacity: 0;
    height: 0;
    z-index: -1;
    pointer-events: none;
    transition: all 200ms ease;

    &.active {
      opacity: 1;
      height: auto;
      z-index: 1;
      pointer-events: auto;
      @include compact-padding(42px, 0, 22px, 0);
 
    }

    @include max-width($mobile) {
      font-size: 19px;
      letter-spacing: .5px;
    }
  }

  .icon {
    transition: transform 200ms ease;
    transform: rotateZ(180deg);
    color: #443D47;
    margin-left: auto;
    margin-right: 10%;
    font-size: 26px;

    @include max-width($mobile) {
      margin-right: 15px;
      margin-left: auto;
      padding-right: 0;
    }
  }

  &.active {
    .faq-question-title {
      background-color: #fff;
      color: $green !important;

      &:hover {
        color: #fff;
      }

    }

    .icon {
      transform: rotateZ(0);
      color: #57B69D !important;
    }
  }
}
.faq-section-detail {
  background-color: #f7f7f7;
}
.city-description-box {
  padding: 55px 8% 50px 8%;
  text-align: center;

  h1 {
    margin-bottom: 25px;
  }

  @include max-width($tablet-portrait) {
    padding: $mobile-section-padding;
  }
}
@include max-width($mobile) {
  .faq-question-title, .faq-question-content{
    padding-left: 0px !important;
    padding-right: 5px !important;
  }
}
@include max-width(1596px) {
  .faq-section-detail {
    width: 100vw;
    margin-left: -90px;
  }
}
@include max-width($mobile) {
  .faq-section-detail {
    width: 100vw;
    margin-left: -550px;
  }
}
@media  (min-width: 1596px) and (max-width: 1796px) {
  .faq-section-detail {
    margin-left: -50vw;
  }
}