@font-face {
  font-family: Delima;
  src: url(/static/fonts/delima/DelimaMTStd-Light.otf) format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: Delima;
  src: url(/static/fonts/delima/DelimaMTStd.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: Delima;
  src: url(/static/fonts/delima/DelimaMTStd-Semibold.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: Delima;
  src: url(/static/fonts/delima/DelimaMTStd-SemiboldIt.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Delima;
  src: url(/static/fonts/delima/DelimaMTStd-Bold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: Delima;
  src: url(/static/fonts/delima/DelimaMTStd-ExtraBold.otf) format('opentype');
  font-weight: 700;
}
